doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 "The future home"
    p "Organic gentrify readymade drinking vinegar, keffiyeh selvage chambray. Thundercats VHS mustache, helvetica gluten-free kogi mlkshk hammock raw denim 3 wolf moon. Portland roof party vegan kombucha kickstarter gentrify, pinterest selvage before they sold out post-ironic tousled +1 sartorial. Umami everyday carry blue bottle, cornhole pour-over disrupt readymade ethical knausgaard sriracha mlkshk occupy tilde XOXO twee. Forage pour-over godard polaroid asymmetrical, green juice tumblr hammock flexitarian. Dreamcatcher normcore before they sold out authentic four dollar toast, gentrify selfies health goth lo-fi tilde sartorial meditation franzen kombucha keytar. Ramps keffiyeh vice, fap messenger bag lomo hashtag yr swag sustainable kitsch heirloom jean shorts flexitarian."
